

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>DMD ToDoList Aplication</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to DMD ToDoList Aplication</h2>
        <p>
            This aplication will help you
            to deal with task.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Functions</h2>
        <p>You can see list of workers,
            List of task and other usefull features.</p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/pv-create/ToDoList">See project source code &raquo;</a></p>
    </div>
     <div class="col-md-4">
        <h2>Contacts</h2>
        <p>My E-mail:pavel_vilkov17@mail.ru.</p>
        <p>My Telegram UserName: pavvveeel</p>
    </div>
  
</div>