@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<head>
    <meta name="autor" content="Vilkov Pavel">
    <meta http-equiv="refresh" content="10">
</head>
<p>Use this page to detail your site's privacy policy.</p>
